Flask==2.3.3
flask-sqlalchemy==3.1.1
flask-jwt-extended==4.7.1
flask-mail==0.10.0
flask-cors==4.0.0
razorpay==1.4.2
bcrypt==4.1.2
requests==2.31.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
joblib==1.4.2
Pillow==10.4.0
python-dotenv==1.0.0
Werkzeug==2.3.7
opencv-python-headless==4.10.0.84
tensorflow-cpu==2.18.0
gunicorn==21.2.0
